* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --link: #ED8E00;
    --main-color: #fff;
    --title: #F18128;
    --body: #040D1F;
    --second-color: #000;
    --RR: 'Roboto';
    --MM: 'Montserrat';
    --CC: 'Comfortaa';
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.nav {
    background: rgba(1, 3, 5, 0.8);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav::before {
    backdrop-filter: blur(10px);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 30px;
}

.logo {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    color: var(--main-color);
}

.nav__link {
    padding: 42px 0;
    font-size: 14px;
    line-height: 14px;
    color: var(--main-color);
    display: inline-block;
    transition: 0.3s;
    position: relative;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: 0.3s;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    color: var(--main-color);
}
.style{
    background: url(../image/back1.png) no-repeat center;
    height: 800px;
    width: 100%;
}
.style__content{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}
.style__title{
    font-weight: 700;
    font-size: 58px;
    line-height: 47px;
    text-align: center;
    color: var(--main-color);
}
.style__text{
    font-weight: 400;
    font-size: 38px;
    line-height: 27px;
    text-align: center;
    color: var(--main-color);
}
.style__item{
    gap: 40px;
}
.room{
    background: url(../image/back2.png) no-repeat center;
    height: 800px;
    width: 100%;
}
.room__content{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}
.room__title{
    font-weight: 700;
    font-size: 58px;
    line-height: 47px;
    text-align: center;
    color: var(--main-color);
}
.room__text{
    font-weight: 400;
    font-size: 38px;
    line-height: 27px;
    text-align: center;
    color: var(--main-color);
}
.room__item{
    gap: 40px;
}
.shape{
    background: url(../image/back3.png) no-repeat center;
    height: 800px;
    width: 100%;
}
.shape__content{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}
.shape__title{
    font-weight: 700;
    font-size: 58px;
    line-height: 47px;
    text-align: center;
    color: var(--main-color);
}
.shape__text{
    font-weight: 400;
    font-size: 38px;
    line-height: 27px;
    text-align: center;
    color: var(--main-color);
}
.shape__item{
    gap: 40px;
}
.sunlig{
    background: url(../image/back4.png) no-repeat center;
    height: 800px;
    width: 100%;
}
.sunlig__content{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}
.sunlig__title{
    font-weight: 700;
    font-size: 58px;
    line-height: 47px;
    text-align: center;
    color: var(--main-color);
}
.sunlig__text{
    font-weight: 400;
    font-size: 38px;
    line-height: 27px;
    text-align: center;
    color: var(--main-color);
}
.sunlig__item{
    gap: 40px;
}
.look{
    background: url(../image/back5.png) no-repeat center;
    height: 800px;
    width: 100%;
}
.look__content{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}
.look__title{
    font-weight: 700;
    font-size: 58px;
    line-height: 47px;
    text-align: center;
    color: var(--main-color);
}
.look__text{
    font-weight: 400;
    font-size: 38px;
    line-height: 27px;
    text-align: center;
    color: var(--main-color);
}
.look__item{
    gap: 40px;
}
footer{
    background: #000;
    padding: 81px 0 60px;
}

.footer__title{
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.288px;
    color: #fff;
}

.footer__subtitle{
    margin-bottom: 4px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    text-align: center;
    color: #fff;
}

.footer__desc{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 11px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    max-width: 444px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.footer__btn{
    max-width: 258px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 54px;
    text-align: center;
    color: #000;
    display: block;
    margin: 0 auto 61px;
    height: 54px;
}

.footer__nav{
    display: flex;
    justify-content: space-between;
}

.footer__menu{
    display: flex;
}

.footer__link{
    margin-left: 24px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    text-transform: capitalize;
}

.footer__text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #666666;
    text-transform: capitalize;
}
